* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
}

.selectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    gap: 10px;
}

.selectionContainer button {
    height: 100px;
    width: 100px;
}

.displayContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}